/*            TYPOGRAFI & SKRIFTTYPE         */

@font-face {
  font-family: kugile;
  src: url(../fonts/kugile/Kugile_Demo.ttf);
}

@font-face {
  font-family: briliant;
  src: url(../fonts/brillant/brillant.otf);
}

@font-face {
  font-family: Inter;
  src: url(../fonts/inter/Inter-Italic.otf);
}

@font-face {
  font-family: Alumni Sans Pinstripe, stroke;
  src: url(../fonts/Alumni_Sans_Pinstripe\BBH_Sans_Bartle\Radio_Canada_Big\Ramabhadra/);
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/montserrat/Montserrat-Italic.otf);
}

@font-face {
  font-family: barcode;
  src: url(../fonts/code-2-of-5-interleaved/code25I.ttf);
}

/*            SKRIFTTYPER BRUGT, FARVE, SAMT PLACERING-01       */

.lillebarcode {
  display: block;
  max-width: 70%;
  padding: 0 0 0 18em;
}

.footerimg {
  padding: 0;
  margin: 2em 8em; /* margin: 2em 14em; */
  width: 50%;
  align-items: center;
}

.credit {
  text-align: center;
}

h1 {
  font-family: briliant;
  text-align: center;

  color: rgba(255, 255, 255, 8);
}

h2 {
  font-family: kugile;
  color: rgb(123, 59, 20);
  text-align: center;
}
h3 {
  font-family: Alumni Sans Pinstripe, stroke;
  color: rgb(0, 0, 0);
}
p {
  font-family: Inter;
  color: rgb(0, 0, 0);
}
nav.navfont {
  font-family: Montserrat;
  color: rgb(0, 0, 0);
  padding: 1em 1em 1em 1em;
}
.knap {
  font-family: Montserrat;
  color: rgb(0, 0, 0);
}
.button {
  font-family: Montserrat;
  color: rgba(0, 0, 0, 0.2);
}

/*              IMAGE PLACERING FØR  HEADER           */
header img.logo {
  border-radius: 0.5em;
}
header {
  /* padding: 20px; */
  background-color: #ffffff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.headercontainer {
  /* height: 80vh; */
  overflow: hidden;
  padding: 2em 0;
}

/* .headercontainer > img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  object-position: top;
} */

/*                  Knappen til testen              */
.knap {
  font-size: 1em;
  background-color: rgb(0, 47, 255);
  padding: 1em 2em;
  margin: 0.5em auto 2em auto; /* auto centrerer knappen */
  border-radius: 1.5em;
  text-decoration: none;
  display: block; /* skal være block for at auto virker */
  width: fit-content; /* gør så den ikke fylder hele linjen */
  color: white;
}
.knap:hover {
  background-color: rgb(8, 83, 56);
}

/*                  Knapper til Discoverpage              */

.button {
  font-size: 1em;
  background-color: rgb(0, 47, 255);
  padding: 1em 2em;
  margin: 0em 2em 2em auto; /* auto centrerer knappen */
  border-radius: 1.5em;
  text-decoration: none;
  display: block; /* skal være block for at auto virker */
  width: fit-content; /* gør så den ikke fylder hele linjen */
  color: white;
  text-align: right;
  align-self: right;
}

.button:hover {
  background-color: rgb(16, 137, 135);
}

/*        tre billeder         */

.gallery .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 2rem; */
  position: relative;
}

.card {
  width: 180px;
  height: 280px;
  border-radius: 30px;
  object-fit: cover;
  transition: all 0.4s ease;
  filter: blur(2px) brightness(0.8);
  transform: scale(0.9);
  opacity: 0.6;
}

/* Midterste kort i fokus */
.card.center {
  filter: none;
  transform: scale(1.1);
  opacity: 1;
  z-index: 2;
}

/* Venstre og højre kort lidt bagved */
.card.left {
  transform: translateX(-20px) scale(0.9);
}

.card.right {
  transform: translateX(20px) scale(0.9);
}

.card.center {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.pretty {
  max-width: 80%;
  grid-column: span 2;
}

.pretty02 {
  display: grid;
  max-width: 80%;
  object-fit: cover;
  grid-template-columns: 2fr 2fr;
  gap: 2rem;
  padding: 0 0 6em 5em;
  margin: 0;
  align-items: center;
}
.box03 .box04 {
  grid-column: span 2;
}
