/*            TYPOGRAFI & SKRIFTTYPE         */

@font-face {
  font-family: kugile;
  src: url(../fonts/kugile/Kugile_Demo.ttf);
}

@font-face {
  font-family: briliant;
  src: url(../fonts/brillant/brillant.otf);
}

@font-face {
  font-family: Inter;
  src: url(../fonts/inter/Inter-Italic.otf);
}

@font-face {
  font-family: Alumni Sans Pinstripe, stroke;
  src: url(../fonts/Alumni_Sans_Pinstripe\BBH_Sans_Bartle\Radio_Canada_Big\Ramabhadra/);
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/montserrat/Montserrat-Italic.otf);
}

/*            SKRIFTTYPER BRUGT, FARVE, SAMT PLACERING-01       */

h1 {
  font-family: briliant;
  text-align: center;
  /*color: rgb(0, 0, 0);*/
}

h2 {
  font-family: kugile;
  color: rgb(123, 59, 20);
  text-align: center;
}
h3 {
  font-family: Alumni Sans Pinstripe, stroke;
  color: rgb(0, 0, 0);
}
p {
  font-family: Inter;
  color: rgb(0, 0, 0);
}
nav.navfont {
  font-family: Montserrat;
  color: rgb(0, 0, 0);
}
.knap {
  font-family: Montserrat;
  color: rgb(0, 0, 0);
}

/*              IMAGE PLACERING FØR  HEADER           */
img {
  width: 400px;
  margin-left: 35em;
  display: block;
  margin: 2em auto;
  border-radius: 0.5em;
}
header {
  bottom: 0 0 10em 0;

  top: 0;

  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.headercontainer {
  display: grid;
  height: 80vh;
  overflow: hidden;
}
.headercontainer > img,
.headercontainer > div {
  grid-column: 1;
  grid-row: 1;
}
.headercontainer > img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  object-position: top;
}
.headersubcontainer img {
  max-width: 100%;
}
.headersubcontainer {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
}
